$burger-width: 22px
$logo-width: 40px
$logo-height: 22px
$menu-bg-color: rgba(186, 213, 201, 0.9)

@import '_mixins/_flexbox'
@import '_mixins/_positioning'

.header
  position: relative
  width: 100%
  min-height: 100vh
  background: url('../images/dest/self-first-hor-2.jpg') center/cover no-repeat #555
  +margined(0, 0, 3rem, 0)
  &--logo
    width: $logo-width
    height: $logo-height
    border: 1px solid blue
    position: relative
    z-index: 3
  &--burger
    position: relative
    z-index: 3
    border: 1px solid $accent
    padding: 15px
    &::before,
    &::after
      position: absolute
      content: ''
      display: block
      width: $burger-width
      height: 2px
      background: $accent
    &::before
      top: 8px
      transition: transform .3s ease
    &::after
      bottom: 8px
      transition: transform .3s ease
    &:hover
      cursor: pointer
    &.active::before
      transform: rotate(45deg)
      top: 15px
    &.active::after
      transform: rotate(-45deg)
      bottom: 15px
    &.active span
      transform: scale(0)
    & span
      display: block
      position: relative
      width: $burger-width
      height: 2px
      background: $accent
      transition: transform .3s ease
  &--top
    position: fixed
    top: 0
    left: 0
    z-index: 10
    width: 100%
    padding: 8px
    background: rgba(186, 186, 181, 0.9)
    border-bottom: 1px solid $accent
    +flexbox(row, space-between, center)
  &--menu
    position: fixed
    width: 100%
    margin: 50px 0 0 0
    position: absolute
    top: -100%
    transition: top .5s ease
    z-index: 10
    &.active
      position: fixed
      top: 0
  &--list
    list-style: none
    text-align: center
    padding: 0
    background: $menu-bg-color
  &--item
    width: 100%
    &:not(:last-child)
      border-bottom: 1px solid $accent
    &__link
      display: block
      padding: 10px
      color: $accent
      text-decoration: none
      width: 100%
      transition: background-color .5s ease, color .5s linear
      &:hover
        color: #fff
        background: $accent
        text-decoration: none
  .time-self
    position: absolute
    font-size: 12px
    top: 55%
    left: 5%
    width: 90%
    padding: 5px
    text-align: right
    background: rgba(#ffffff, 0.84)
    color: $accent
    &--main-header,
    &--sec-header
      // font-size: 5vw
    &--slogan
      margin: 0
      // font-size: 4vw
