@import '_mixins/_flexbox'
@import '_mixins/_positioning'

.pane
	+flexbox(column, center, flex-start)
	border: 1px solid $accent
	padding: 1em
	&__caption
		padding: 0 0 .5rem 0
	&__text
		display: block
		width: 100%
	&__img
		width: 90%
		height: auto
		box-sizing: border-box
		+paddedSimple(10px)
		+margined(1px, 0, 1px, 0)
		&_scalable
			transition: transform .2s linear, padding .2s linear
			&:hover
		    transform: scale(1.05)
	&__cost
		width: 100%
		text-align: right
		color: $accent
	&_hide
		display: none
